html, body {margin: 0;padding: 0;width: 100%;max-width: 100%;height: 100%;}
header {margin: 0 auto;width: 70%;height: auto;}
header .encabezado {width: 100%;height: 160px;}
nav {margin: 0 auto;width: 80%;height: 38px;margin-bottom: 5px;border-radius: 10px;}
#menubar{background-color: #FE2E2E;list-style:none;width:auto;position:relative;display:block;height:36px;}
#menubar li{float:left;display:block;position:relative;}
#menubar li a{color:#fff;text-decoration:none;font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:1.3em;padding:10px 14px 8px 16px;display:block;}
#menubar li ul{width:120px ;background:#F8F8F8;border:1px #ccc solid;display:none; position:absolute;z-index:999;margin-top:0px;}
#menubar li ul li{width:auto;list-style:none;display:block;}
#menubar li ul li a{color:#21759b;font-size:14px;line-height:1.3em;display:block;font-weight:normal;padding:8px;}
#menubar li ul li a:hover{background-color:#FFF;color:#444;text-decoration:underline;}
#menubar li:hover ul{display:block;}
#slider {width: 60%;margin: 0 auto;}
footer {clear: both;bottom: 0;text-align: center;}
.bottom {display: inline-block;}
.down {position: relative;top: 29px;}
#bar {z-index: 999;position: absolute;width: 100px;height: 100%;background-color: black;color: white;left: -100px;transition: all 1s;}
#bar ul li{list-style: none;margin-bottom: 20px;border: 1px solid transparent;transition: all 1s;}
#bar ul li:hover {border: 1px dashed white;}
#bar #show {position: fixed;width: 30px;height: 30px;left: 0px;top: 0px;cursor: pointer;z-index: 999999;transition: all 1.5s;}
#bar #show img {border-radius: 50% 0%;}
#bar:hover {left: 0px;}
#bar:hover #show {opacity: 0;}