body section #regEgresados {margin: 0 auto;width: 60%;padding: 10px;border: 1px dashed black;}
body section #regEgresados > h1{text-shadow: 2px 1px 1px gray;text-align: center;font-family: "serif";background-color: #084B8A;color: white;margin-bottom: 1.5em;box-shadow: 3px 3px 3px gray;}
body section #regEgresados input[type=text], input[type=email] {border: 1px solid gray;font-family: "serif";padding: 3px;border-radius: 5px;outline: none;}
body section #regEgresados #infoPersonal label {width: 100px;}
body section #regEgresados #infoPersonal .personal {display: inline-block;margin-right: 10px;margin-bottom: 10px;}
body section #regEgresados div span{background-color: #084B8A;color: white;font-weight: bold;display: block;margin-bottom: 1em;padding: 5px;padding-left: 15px;box-shadow: 2px 2px 2px gray;text-shadow: 1px 1px 1px gray;}
body section #regEgresados label{display: block;margin-bottom: .5em;margin-top: .5em;}
body section #regEgresados #datosEscolares .escolar {display: inline-block;margin:5px;}
body section #regEgresados #datosEscolares .right {position: relative;left: 30px;}
body section #regEgresados #datosEscolares .margen {margin-right: 25px;}
body section #regEgresados #datosEscolares .left {width: 190px;}
body section #regEgresados #seccion3 label {margin-right: 10px;}
body section #regEgresados #seccion3 .lineal{display: inline-block;}
body section #regEgresados #infoLaboral .lineal{display: inline-block;margin-right: 1em;}
body section #regEgresados #infoLaboral .separador{margin-bottom: 10px;}
body section #regEgresados #infoLaboral .top{margin-top: 1.5em;}
.separador{margin-right: 30px;margin-bottom:30px;margin-top: 10px;}

body section #regEgresados #datosEscolares, #seccion3, #infoLaboral {
	position: relative;
	display: none;
}

body section #regEgresados #datosEscolares {
	top: -1em;
}
body section #regEgresados #seccion3 {
	top: -2em;
}
body section #regEgresados #infoLaboral {
	top: -2em;
}